---
import { Button } from 'astro-pure/user'
import PageLayout from '@/layouts/BaseLayout.astro'

const meta = {
  description: 'My research work and interests',
  title: 'Research'
}
---

<PageLayout {meta}>
  <Button title='Back' href='/' style='back' />
  <main class='mt-6 lg:mt-10'>
    <div id='content-header' class='animate'>
      <h1 class='mb-6 text-3xl font-medium'>Research</h1>
    </div>

    <div id='content' class='animate'>
      <section>
        <h2 class='text-2xl font-medium mb-4'>To be Updated, please wait...</h2>
        <p class='mb-6'>
        </p>
      </section>

      <!-- <section>
        <h2 class='text-2xl font-medium mb-4'>Publications</h2>
        <ul class='list-disc pl-6 space-y-2'>
           <li>Publication 1</li>
          <li>Publication 2</li>
        </ul>
      </section>  -->
    </div>
  </main>
</PageLayout> 